:root {
    --border: 5px solid black;
    --clr1: #E0BC59;
    --clr2: #4C8EDF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* layout */

body {
    height: 100dvh;
    background-color: #dfdce1;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 50px; */
    padding: 40px;
}

/* player */

#players-display {
    width: 50%;
    display: flex;
    gap: 20px;
}

#players-display > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 10px;
}

/* espace de jeu */

#container {
    max-width: 100%;
	width: 40%;
    aspect-ratio: 1 / 1;
	display: flex;
	flex-wrap: wrap;
}

#container > :nth-child(2),
#container > :nth-child(8) {
    border-left: var(--border);
    border-right: var(--border);
}

#container > :nth-child(4),
#container > :nth-child(6) {
    border-top: var(--border);
    border-bottom: var(--border);
}


#container > :nth-child(5) {
    border: var(--border);
}

.cell {
    font-size: 5vw;
	width: 33%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css pr js */

.currentPlayer1 {
    background-color: var(--clr2);
}

.currentPlayer2 {
    background-color: var(--clr1);
}

.clr1 {
    color: var(--clr2);
}

.clr2 {
    color: var(--clr1);
}